{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('payment') }}
{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>{{ movie.title }}</h1>

{#    {% for key,value in movie %}#}
{#        {% if value.timestamp is defined %}#}
{#            {% set value = value|date('d M Y') %}#}
{#        {% elseif value is iterable %}#}
{#            {% set value = value|join(', ') %}#}
{#        {% endif %}#}
{#        <li>{{ key }} : {{ value }}</li>#}
{#    {% endfor %}#}
    <li>Id : {{ movie.id }}</li>
    <li>Country : {{ movie.country }}</li>
    <li>Released : {{ movie.released|date('d M Y') }}</li>
    <li>Genre : {{ movie.genre|join(', ') }}</li>
</div>
{% endblock %}
