{% extends 'base.html.twig' %}

{% block title %}{{ movie is not null ? movie.title : 'Movie not found.' }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('payment') }}
{% endblock %}

{% block body %}
<div class="example-wrapper">
    {% if movie is not null %}
        <h1>{{ movie.title }}</h1>

    {#    {% for key,value in movie %}#}
    {#        {% if value.timestamp is defined %}#}
    {#            {% set value = value|date('d M Y') %}#}
    {#        {% elseif value is iterable %}#}
    {#            {% set value = value|join(', ') %}#}
    {#        {% endif %}#}
    {#        <li>{{ key }} : {{ value }}</li>#}
    {#    {% endfor %}#}

        <li>Id : {{ movie.id }}</li>
        <li>Country : {{ movie.country }}</li>
        <li>Released : {{ movie.releasedAt|date('d M Y') }}</li>
{#        <li>Genre : {{ movie.genre|join(', ') }}</li>#}
    {% else %}
        <h1>Movie not found.</h1>
    {% endif %}
</div>
{% endblock %}
